body.feature-archive {
    .features {
        margin: 30px 0;
        .feature {
            position: relative;
            min-height: 125px;
            .fa {
                position: absolute;
                top: 10px;
                left: 10px;
            }
        }
    }
}