.room-card {
    position: relative;
    display: block;
    background-size: 110%;
    background-position: center;
    height: 200px;
    box-shadow: 0 0 2px 0 #ddd;
    transition: box-shadow ease-in-out .2s, background-size ease-in-out .2s;
    .info {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(white, .65);
        padding: 10px;
        color: black;
        font-size: 1.1em;
        .title {
            vertical-align: middle;
        }
        .price {
            float: right;
            vertical-align: middle;
        }
    }
    &:hover {
        box-shadow: 0 0 4px 2px #ddd;
        background-size: 120%;
    }
}